We downloaded Transport fare datasets from the NATIONAL BUREAU OF STATISTICS(NBS) via : https://www.nigerianstat.gov.ng/elibrary?page=2&offset=10.

The datasets was downloaded as CSV files.

In this phase, we will use Pandas library to wrangle the datasets into our desired form

In [95]:
import pandas as pd

In [96]:
# read csv files with pandas

abia_df = pd.read_csv('./grouped-data/ABIA-Table 1.csv', header=1, index_col=0) 
abuja_df = pd.read_csv('./grouped-data/ABUJA-Table 1.csv', header=1, index_col=0) 
adamawa_df = pd.read_csv('./grouped-data/ADAMAWA-Table 1.csv', header=1, index_col=0) 
akwaibom_df = pd.read_csv('./grouped-data/AKWA IBOM-Table 1.csv', header=1, index_col=0) 
anambra_df = pd.read_csv('./grouped-data/ANAMBRA-Table 1.csv', header=1, index_col=0) 
bauchi_df = pd.read_csv('./grouped-data/BAUCHI-Table 1.csv', header=1, index_col=0) 
bayelsa_df = pd.read_csv('./grouped-data/BAYELSA-Table 1.csv', header=1, index_col=0) 
benue_df = pd.read_csv('./grouped-data/BENUE-Table 1.csv', header=1, index_col=0) 
borno_df = pd.read_csv('./grouped-data/BORNO-Table 1.csv', header=1, index_col=0)
crossriver_df = pd.read_csv('./grouped-data/CROSS RIVER-Table 1.csv', header=1, index_col=0)
delta_df = pd.read_csv('./grouped-data/DELTA-Table 1.csv', header=1, index_col=0)
ebonyi_df = pd.read_csv('./grouped-data/EBONYI-Table 1.csv', header=1, index_col=0)
edo_df = pd.read_csv('./grouped-data/EDO-Table 1.csv', header=1, index_col=0)
ekiti_df = pd.read_csv('./grouped-data/EKITI-Table 1.csv', header=1, index_col=0)
enugu_df = pd.read_csv('./grouped-data/ENUGU-Table 1.csv', header=1, index_col=0)
gombe_df = pd.read_csv('./grouped-data/GOMBE-Table 1.csv', header=1, index_col=0)
imo_df = pd.read_csv('./grouped-data/IMO-Table 1.csv', header=1, index_col=0)
jigawa_df = pd.read_csv('./grouped-data/JIGAWA-Table 1.csv', header=1, index_col=0)
kaduna_df = pd.read_csv('./grouped-data/KADUNA-Table 1.csv', header=1, index_col=0)
kano_df = pd.read_csv('./grouped-data/KANO-Table 1.csv', header=1, index_col=0)
katsina_df = pd.read_csv('./grouped-data/KATSINA-Table 1.csv', header=1, index_col=0)
kebbi_df = pd.read_csv('./grouped-data/KEBBI-Table 1.csv', header=1, index_col=0)
kogi_df = pd.read_csv('./grouped-data/KOGI-Table 1.csv', header=1, index_col=0)
kwara_df = pd.read_csv('./grouped-data/KWARA-Table 1.csv', header=1, index_col=0)
lagos_df = pd.read_csv('./grouped-data/LAGOS-Table 1.csv', header=1, index_col=0)
nassarawa_df = pd.read_csv('./grouped-data/NASSARAWA-Table 1.csv', header=1, index_col=0)
niger_df = pd.read_csv('./grouped-data/NIGER-Table 1.csv', header=1, index_col=0)
ogun_df = pd.read_csv('./grouped-data/OGUN-Table 1.csv', header=1, index_col=0)
ondo_df = pd.read_csv('./grouped-data/ONDO-Table 1.csv', header=1, index_col=0)
osun_df = pd.read_csv('./grouped-data/OSUN-Table 1.csv', header=1, index_col=0)
oyo_df = pd.read_csv('./grouped-data/OYO-Table 1.csv', header=1, index_col=0)
plateau_df = pd.read_csv('./grouped-data/PLATEAU-Table 1.csv', header=1, index_col=0)
rivers_df = pd.read_csv('./grouped-data/RIVERS-Table 1.csv', header=1, index_col=0)
sokoto_df = pd.read_csv('./grouped-data/SOKOTO-Table 1.csv', header=1, index_col=0)
taraba_df = pd.read_csv('./grouped-data/TARABA-Table 1.csv', header=1, index_col=0)
yobe_df = pd.read_csv('./grouped-data/YOBE-Table 1.csv', header=1, index_col=0)
zamfara_df = pd.read_csv('./grouped-data/ZAMFARA-Table 1.csv', header=1, index_col=0)

In [97]:
# select a state and check first five rows to ensure csv file read properly

abia_df.head(5)

,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,Oct-16,...,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20,Unnamed: 52,Unnamed: 53
ItemLabels,,,,,,,,,,,,,,,,,,,,,
"Bus journey within city , per drop constant rou",80.71,87.77,73.81,96.67,84.71,73.82,73.82,121.61,114.29,109.37,...,146.0,144.0,148.0,146.0,149.0,145.0,147.0,156.60,18.86,6.53
"Bus journey intercity, state route, charg. per per",580.56,408.73,416.96,535.42,463.10,503.33,560.33,428.57,450.65,593.09,...,1350.0,1340.0,1350.0,1353.0,1400.0,1400.0,1395.0,1437.50,9.73,3.05
Air fare charg.for specified routes single journey,25000.00,25052.50,25105.11,25157.83,25210.66,25263.60,30000.00,30063.00,30126.13,23463.35,...,33320.0,33350.0,33390.0,33400.0,33500.0,33550.0,33600.0,33550.00,0.04,-0.15
Journey by motorcycle (okada) per drop,132.78,103.89,105.00,124.33,128.94,102.92,107.50,108.13,116.43,141.19,...,138.0,136.0,136.0,137.0,138.0,140.0,142.0,138.18,-1.30,-2.69
Water transport : water way passenger transportat,350.23,352.05,353.88,355.72,357.57,359.43,361.30,363.18,365.07,366.97,...,270.0,275.0,275.0,278.0,280.0,280.0,284.0,280.00,-15.90,-1.41

In [98]:
def intra_city_bus_journey(df, value):
    """Function to drop last two columns of dataframe and obtain average prices for intra-city bus journey of a state.
        
        Args:
            df (Dataframe): Dataframe belonging to a state
            
        
        Returns:
            Dataframe: Dataframe containing average prices for all intra-city bus journey ranging from 2016 to 2020
    """
    df = df.copy()
    # select first row
    df1 = df.iloc[[0]]
    # exclude last two columns
    df1 = df1.iloc[:,:-2]
    # Insert new column with an input value
    df1.insert(0,"State", value)
    return df1

In [99]:
# select a state to test the dataframe returned for the intra-city bus journey for that state

abia_intra_city_bus_journey_df = intra_city_bus_journey(abia_df, 'Abia')

abia_intra_city_bus_journey_df

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
ItemLabels,,,,,,,,,,,,,,,,,,,,,
"Bus journey within city , per drop constant rou",Abia,80.71,87.77,73.81,96.67,84.71,73.82,73.82,121.61,114.29,...,138.5,145.75,146.0,144.0,148.0,146.0,149.0,145.0,147.0,156.6

In [100]:
# obtain average prices for intra-city bus journey of a state

abuja_intra_city_bus_journey_df = intra_city_bus_journey(abuja_df, 'Abuja')
adamawa_intra_city_bus_journey_df = intra_city_bus_journey(adamawa_df, 'Adamawa')
akwaibom_intra_city_bus_journey_df = intra_city_bus_journey(akwaibom_df, 'AkwaIbom')
anambra_intra_city_bus_journey_df = intra_city_bus_journey(anambra_df, 'Anambra')
bauchi_intra_city_bus_journey_df = intra_city_bus_journey(bauchi_df, 'Bauchi')
bayelsa_intra_city_bus_journey_df = intra_city_bus_journey(bayelsa_df, 'Bayelsa')
benue_intra_city_bus_journey_df = intra_city_bus_journey(benue_df, 'Benue')
borno_intra_city_bus_journey_df = intra_city_bus_journey(borno_df, 'Borno')
crossriver_intra_city_bus_journey_df = intra_city_bus_journey(crossriver_df, 'CrossRiver')
delta_intra_city_bus_journey_df = intra_city_bus_journey(delta_df, 'Delta')
ebonyi_intra_city_bus_journey_df = intra_city_bus_journey(ebonyi_df, 'Ebonyi')
edo_intra_city_bus_journey_df = intra_city_bus_journey(edo_df, 'Edo')
ekiti_intra_city_bus_journey_df = intra_city_bus_journey(ekiti_df, 'Ekiti')
enugu_intra_city_bus_journey_df = intra_city_bus_journey(enugu_df, 'Enugu')
gombe_intra_city_bus_journey_df = intra_city_bus_journey(gombe_df, 'Gombe')
imo_intra_city_bus_journey_df = intra_city_bus_journey(imo_df, 'Imo')
jigawa_intra_city_bus_journey_df = intra_city_bus_journey(jigawa_df, 'Jigawa')
kaduna_intra_city_bus_journey_df = intra_city_bus_journey(kaduna_df, 'Kaduna')
kano_intra_city_bus_journey_df = intra_city_bus_journey(kano_df, 'Kano')
katsina_intra_city_bus_journey_df = intra_city_bus_journey(katsina_df, 'Katsina')
kebbi_intra_city_bus_journey_df = intra_city_bus_journey(kebbi_df, 'Kebbi')
kogi_intra_city_bus_journey_df = intra_city_bus_journey(kogi_df, 'Kogi')
kwara_intra_city_bus_journey_df = intra_city_bus_journey(kwara_df, 'Kwara')
lagos_intra_city_bus_journey_df = intra_city_bus_journey(lagos_df, 'Lagos')
nassarawa_intra_city_bus_journey_df = intra_city_bus_journey(nassarawa_df, 'Nassarawa')
niger_intra_city_bus_journey_df = intra_city_bus_journey(niger_df, 'Niger')
ogun_intra_city_bus_journey_df = intra_city_bus_journey(ogun_df, 'Ogun')
ondo_intra_city_bus_journey_df = intra_city_bus_journey(ondo_df, 'Ondo')
osun_intra_city_bus_journey_df = intra_city_bus_journey(osun_df, 'Osun')
oyo_intra_city_bus_journey_df = intra_city_bus_journey(oyo_df, 'Oyo')
plateau_intra_city_bus_journey_df = intra_city_bus_journey(plateau_df, 'Plateau')
rivers_intra_city_bus_journey_df = intra_city_bus_journey(rivers_df, 'Rivers')
sokoto_intra_city_bus_journey_df = intra_city_bus_journey(sokoto_df, 'Sokoto')
taraba_intra_city_bus_journey_df = intra_city_bus_journey(taraba_df, 'Taraba')
yobe_intra_city_bus_journey_df = intra_city_bus_journey(yobe_df, 'Yobe')
zamfara_intra_city_bus_journey_df = intra_city_bus_journey(zamfara_df, 'Zamfara')

In [104]:
# Concatenate all states with average prices for intra-city bus journey from 2016 to 2020

states_list = [abia_intra_city_bus_journey_df, abuja_intra_city_bus_journey_df,
              adamawa_intra_city_bus_journey_df, akwaibom_intra_city_bus_journey_df,
              anambra_intra_city_bus_journey_df, bauchi_intra_city_bus_journey_df,
              bayelsa_intra_city_bus_journey_df, benue_intra_city_bus_journey_df,
              borno_intra_city_bus_journey_df, crossriver_intra_city_bus_journey_df,
              delta_intra_city_bus_journey_df, ebonyi_intra_city_bus_journey_df,
              edo_intra_city_bus_journey_df, ekiti_intra_city_bus_journey_df,
              enugu_intra_city_bus_journey_df, gombe_intra_city_bus_journey_df,
              imo_intra_city_bus_journey_df, jigawa_intra_city_bus_journey_df,
              kaduna_intra_city_bus_journey_df, kano_intra_city_bus_journey_df,
              katsina_intra_city_bus_journey_df, kebbi_intra_city_bus_journey_df,
              kogi_intra_city_bus_journey_df, kwara_intra_city_bus_journey_df,
              lagos_intra_city_bus_journey_df, nassarawa_intra_city_bus_journey_df,
              niger_intra_city_bus_journey_df, ogun_intra_city_bus_journey_df,
              ondo_intra_city_bus_journey_df, osun_intra_city_bus_journey_df,
              oyo_intra_city_bus_journey_df, plateau_intra_city_bus_journey_df,
              rivers_intra_city_bus_journey_df, sokoto_intra_city_bus_journey_df,
              taraba_intra_city_bus_journey_df, yobe_intra_city_bus_journey_df,
              zamfara_intra_city_bus_journey_df]  # List of dataframes

states_intra_city_bus_journey_df = pd.concat(states_list)
states_intra_city_bus_journey_df.head(5)

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
ItemLabels,,,,,,,,,,,,,,,,,,,,,
"Bus journey within city , per drop constant rou",Abia,80.71,87.77,73.81,96.67,84.71,73.82,73.82,121.61,114.29,...,138.50,145.75,146.0,144.0,148.0,146.0,149.0,145.0,147.0,156.60
"Bus journey within city , per drop constant rou",Abuja,50.00,50.11,75.00,87.50,75.00,75.00,75.00,83.33,125.00,...,272.00,285.00,290.0,289.0,295.0,297.0,300.0,310.0,310.0,332.50
"Bus journey within city , per drop constant rou",Adamawa,80.00,80.17,67.50,67.50,100.00,70.00,70.00,70.15,90.00,...,253.00,250.00,252.0,255.0,225.0,230.0,230.0,235.0,237.0,245.00
"Bus journey within city , per drop constant rou",AkwaIbom,100.00,100.00,150.00,150.00,100.00,100.00,100.00,150.00,100.00,...,225.00,228.00,230.0,232.0,230.0,234.0,237.0,235.0,240.0,255.00
"Bus journey within city , per drop constant rou",Anambra,61.36,55.42,57.08,69.83,70.56,66.06,64.32,65.58,103.75,...,135.15,137.50,136.0,138.0,140.0,140.0,145.0,148.0,149.0,156.67