We downloaded Transport fare datasets from the NATIONAL BUREAU OF STATISTICS(NBS) via : https://www.nigerianstat.gov.ng/elibrary?page=2&offset=10.

The datasets was downloaded as CSV files.

In this phase, we will use Pandas library to wrangle the datasets into our desired form

In [35]:
import pandas as pd

In [36]:
# read csv files with pandas

abia_df = pd.read_csv('./grouped-data/ABIA-Table 1.csv', header=1, index_col=0) 
abuja_df = pd.read_csv('./grouped-data/ABUJA-Table 1.csv', header=1, index_col=0) 
adamawa_df = pd.read_csv('./grouped-data/ADAMAWA-Table 1.csv', header=1, index_col=0) 
akwaibom_df = pd.read_csv('./grouped-data/AKWA IBOM-Table 1.csv', header=1, index_col=0) 
anambra_df = pd.read_csv('./grouped-data/ANAMBRA-Table 1.csv', header=1, index_col=0) 
bauchi_df = pd.read_csv('./grouped-data/BAUCHI-Table 1.csv', header=1, index_col=0) 
bayelsa_df = pd.read_csv('./grouped-data/BAYELSA-Table 1.csv', header=1, index_col=0) 
benue_df = pd.read_csv('./grouped-data/BENUE-Table 1.csv', header=1, index_col=0) 
borno_df = pd.read_csv('./grouped-data/BORNO-Table 1.csv', header=1, index_col=0)
crossriver_df = pd.read_csv('./grouped-data/CROSS RIVER-Table 1.csv', header=1, index_col=0)
delta_df = pd.read_csv('./grouped-data/DELTA-Table 1.csv', header=1, index_col=0)
ebonyi_df = pd.read_csv('./grouped-data/EBONYI-Table 1.csv', header=1, index_col=0)
edo_df = pd.read_csv('./grouped-data/EDO-Table 1.csv', header=1, index_col=0)
ekiti_df = pd.read_csv('./grouped-data/EKITI-Table 1.csv', header=1, index_col=0)
enugu_df = pd.read_csv('./grouped-data/ENUGU-Table 1.csv', header=1, index_col=0)
gombe_df = pd.read_csv('./grouped-data/GOMBE-Table 1.csv', header=1, index_col=0)
imo_df = pd.read_csv('./grouped-data/IMO-Table 1.csv', header=1, index_col=0)
jigawa_df = pd.read_csv('./grouped-data/JIGAWA-Table 1.csv', header=1, index_col=0)
kaduna_df = pd.read_csv('./grouped-data/KADUNA-Table 1.csv', header=1, index_col=0)
kano_df = pd.read_csv('./grouped-data/KANO-Table 1.csv', header=1, index_col=0)
katsina_df = pd.read_csv('./grouped-data/KATSINA-Table 1.csv', header=1, index_col=0)
kebbi_df = pd.read_csv('./grouped-data/KEBBI-Table 1.csv', header=1, index_col=0)
kogi_df = pd.read_csv('./grouped-data/KOGI-Table 1.csv', header=1, index_col=0)
kwara_df = pd.read_csv('./grouped-data/KWARA-Table 1.csv', header=1, index_col=0)
lagos_df = pd.read_csv('./grouped-data/LAGOS-Table 1.csv', header=1, index_col=0)
nassarawa_df = pd.read_csv('./grouped-data/NASSARAWA-Table 1.csv', header=1, index_col=0)
niger_df = pd.read_csv('./grouped-data/NIGER-Table 1.csv', header=1, index_col=0)
ogun_df = pd.read_csv('./grouped-data/OGUN-Table 1.csv', header=1, index_col=0)
ondo_df = pd.read_csv('./grouped-data/ONDO-Table 1.csv', header=1, index_col=0)
osun_df = pd.read_csv('./grouped-data/OSUN-Table 1.csv', header=1, index_col=0)
oyo_df = pd.read_csv('./grouped-data/OYO-Table 1.csv', header=1, index_col=0)
plateau_df = pd.read_csv('./grouped-data/PLATEAU-Table 1.csv', header=1, index_col=0)
rivers_df = pd.read_csv('./grouped-data/RIVERS-Table 1.csv', header=1, index_col=0)
sokoto_df = pd.read_csv('./grouped-data/SOKOTO-Table 1.csv', header=1, index_col=0)
taraba_df = pd.read_csv('./grouped-data/TARABA-Table 1.csv', header=1, index_col=0)
yobe_df = pd.read_csv('./grouped-data/YOBE-Table 1.csv', header=1, index_col=0)
zamfara_df = pd.read_csv('./grouped-data/ZAMFARA-Table 1.csv', header=1, index_col=0)

In [37]:
# select a state and check first five rows to ensure csv file read properly

abia_df.head(5)

,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,Oct-16,...,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20,Unnamed: 52,Unnamed: 53
ItemLabels,,,,,,,,,,,,,,,,,,,,,
"Bus journey within city , per drop constant rou",80.71,87.77,73.81,96.67,84.71,73.82,73.82,121.61,114.29,109.37,...,146.0,144.0,148.0,146.0,149.0,145.0,147.0,156.60,18.86,6.53
"Bus journey intercity, state route, charg. per per",580.56,408.73,416.96,535.42,463.10,503.33,560.33,428.57,450.65,593.09,...,1350.0,1340.0,1350.0,1353.0,1400.0,1400.0,1395.0,1437.50,9.73,3.05
Air fare charg.for specified routes single journey,25000.00,25052.50,25105.11,25157.83,25210.66,25263.60,30000.00,30063.00,30126.13,23463.35,...,33320.0,33350.0,33390.0,33400.0,33500.0,33550.0,33600.0,33550.00,0.04,-0.15
Journey by motorcycle (okada) per drop,132.78,103.89,105.00,124.33,128.94,102.92,107.50,108.13,116.43,141.19,...,138.0,136.0,136.0,137.0,138.0,140.0,142.0,138.18,-1.30,-2.69
Water transport : water way passenger transportat,350.23,352.05,353.88,355.72,357.57,359.43,361.30,363.18,365.07,366.97,...,270.0,275.0,275.0,278.0,280.0,280.0,284.0,280.00,-15.90,-1.41

In [38]:
def intra_city_bus_journey(df, value):
    """Function to drop last two columns of dataframe and obtain average prices for intra-city bus journey of a state.
        
        Args:
            df (Dataframe): Dataframe belonging to a state
            
        
        Returns:
            Dataframe: Dataframe containing average prices for all intra-city bus journey ranging from 2016 to 2020
    """
    df = df.copy()
    # select first row
    df1 = df.iloc[[0]]
    # exclude last two columns
    df1 = df1.iloc[:,:-2]
    # Insert new column with an input value
    df1.insert(0,"State", value)
    return df1

In [39]:
# select a state to test the dataframe returned for the intra-city bus journey for that state

abia_intra_city_bus_journey_df = intra_city_bus_journey(abia_df, 'Abia')

abia_intra_city_bus_journey_df

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
ItemLabels,,,,,,,,,,,,,,,,,,,,,
"Bus journey within city , per drop constant rou",Abia,80.71,87.77,73.81,96.67,84.71,73.82,73.82,121.61,114.29,...,138.5,145.75,146.0,144.0,148.0,146.0,149.0,145.0,147.0,156.6

In [40]:
# obtain average prices for intra-city bus journey of each state

abuja_intra_city_bus_journey_df = intra_city_bus_journey(abuja_df, 'Abuja')
adamawa_intra_city_bus_journey_df = intra_city_bus_journey(adamawa_df, 'Adamawa')
akwaibom_intra_city_bus_journey_df = intra_city_bus_journey(akwaibom_df, 'AkwaIbom')
anambra_intra_city_bus_journey_df = intra_city_bus_journey(anambra_df, 'Anambra')
bauchi_intra_city_bus_journey_df = intra_city_bus_journey(bauchi_df, 'Bauchi')
bayelsa_intra_city_bus_journey_df = intra_city_bus_journey(bayelsa_df, 'Bayelsa')
benue_intra_city_bus_journey_df = intra_city_bus_journey(benue_df, 'Benue')
borno_intra_city_bus_journey_df = intra_city_bus_journey(borno_df, 'Borno')
crossriver_intra_city_bus_journey_df = intra_city_bus_journey(crossriver_df, 'CrossRiver')
delta_intra_city_bus_journey_df = intra_city_bus_journey(delta_df, 'Delta')
ebonyi_intra_city_bus_journey_df = intra_city_bus_journey(ebonyi_df, 'Ebonyi')
edo_intra_city_bus_journey_df = intra_city_bus_journey(edo_df, 'Edo')
ekiti_intra_city_bus_journey_df = intra_city_bus_journey(ekiti_df, 'Ekiti')
enugu_intra_city_bus_journey_df = intra_city_bus_journey(enugu_df, 'Enugu')
gombe_intra_city_bus_journey_df = intra_city_bus_journey(gombe_df, 'Gombe')
imo_intra_city_bus_journey_df = intra_city_bus_journey(imo_df, 'Imo')
jigawa_intra_city_bus_journey_df = intra_city_bus_journey(jigawa_df, 'Jigawa')
kaduna_intra_city_bus_journey_df = intra_city_bus_journey(kaduna_df, 'Kaduna')
kano_intra_city_bus_journey_df = intra_city_bus_journey(kano_df, 'Kano')
katsina_intra_city_bus_journey_df = intra_city_bus_journey(katsina_df, 'Katsina')
kebbi_intra_city_bus_journey_df = intra_city_bus_journey(kebbi_df, 'Kebbi')
kogi_intra_city_bus_journey_df = intra_city_bus_journey(kogi_df, 'Kogi')
kwara_intra_city_bus_journey_df = intra_city_bus_journey(kwara_df, 'Kwara')
lagos_intra_city_bus_journey_df = intra_city_bus_journey(lagos_df, 'Lagos')
nassarawa_intra_city_bus_journey_df = intra_city_bus_journey(nassarawa_df, 'Nassarawa')
niger_intra_city_bus_journey_df = intra_city_bus_journey(niger_df, 'Niger')
ogun_intra_city_bus_journey_df = intra_city_bus_journey(ogun_df, 'Ogun')
ondo_intra_city_bus_journey_df = intra_city_bus_journey(ondo_df, 'Ondo')
osun_intra_city_bus_journey_df = intra_city_bus_journey(osun_df, 'Osun')
oyo_intra_city_bus_journey_df = intra_city_bus_journey(oyo_df, 'Oyo')
plateau_intra_city_bus_journey_df = intra_city_bus_journey(plateau_df, 'Plateau')
rivers_intra_city_bus_journey_df = intra_city_bus_journey(rivers_df, 'Rivers')
sokoto_intra_city_bus_journey_df = intra_city_bus_journey(sokoto_df, 'Sokoto')
taraba_intra_city_bus_journey_df = intra_city_bus_journey(taraba_df, 'Taraba')
yobe_intra_city_bus_journey_df = intra_city_bus_journey(yobe_df, 'Yobe')
zamfara_intra_city_bus_journey_df = intra_city_bus_journey(zamfara_df, 'Zamfara')

In [41]:
# Concatenate all states with average prices for intra-city bus journey from 2016 to 2020

states_list = [abia_intra_city_bus_journey_df, abuja_intra_city_bus_journey_df,
              adamawa_intra_city_bus_journey_df, akwaibom_intra_city_bus_journey_df,
              anambra_intra_city_bus_journey_df, bauchi_intra_city_bus_journey_df,
              bayelsa_intra_city_bus_journey_df, benue_intra_city_bus_journey_df,
              borno_intra_city_bus_journey_df, crossriver_intra_city_bus_journey_df,
              delta_intra_city_bus_journey_df, ebonyi_intra_city_bus_journey_df,
              edo_intra_city_bus_journey_df, ekiti_intra_city_bus_journey_df,
              enugu_intra_city_bus_journey_df, gombe_intra_city_bus_journey_df,
              imo_intra_city_bus_journey_df, jigawa_intra_city_bus_journey_df,
              kaduna_intra_city_bus_journey_df, kano_intra_city_bus_journey_df,
              katsina_intra_city_bus_journey_df, kebbi_intra_city_bus_journey_df,
              kogi_intra_city_bus_journey_df, kwara_intra_city_bus_journey_df,
              lagos_intra_city_bus_journey_df, nassarawa_intra_city_bus_journey_df,
              niger_intra_city_bus_journey_df, ogun_intra_city_bus_journey_df,
              ondo_intra_city_bus_journey_df, osun_intra_city_bus_journey_df,
              oyo_intra_city_bus_journey_df, plateau_intra_city_bus_journey_df,
              rivers_intra_city_bus_journey_df, sokoto_intra_city_bus_journey_df,
              taraba_intra_city_bus_journey_df, yobe_intra_city_bus_journey_df,
              zamfara_intra_city_bus_journey_df]  # List of dataframes

states_intra_city_bus_journey_df = pd.concat(states_list)
states_intra_city_bus_journey_df.head(5)

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
ItemLabels,,,,,,,,,,,,,,,,,,,,,
"Bus journey within city , per drop constant rou",Abia,80.71,87.77,73.81,96.67,84.71,73.82,73.82,121.61,114.29,...,138.50,145.75,146.0,144.0,148.0,146.0,149.0,145.0,147.0,156.60
"Bus journey within city , per drop constant rou",Abuja,50.00,50.11,75.00,87.50,75.00,75.00,75.00,83.33,125.00,...,272.00,285.00,290.0,289.0,295.0,297.0,300.0,310.0,310.0,332.50
"Bus journey within city , per drop constant rou",Adamawa,80.00,80.17,67.50,67.50,100.00,70.00,70.00,70.15,90.00,...,253.00,250.00,252.0,255.0,225.0,230.0,230.0,235.0,237.0,245.00
"Bus journey within city , per drop constant rou",AkwaIbom,100.00,100.00,150.00,150.00,100.00,100.00,100.00,150.00,100.00,...,225.00,228.00,230.0,232.0,230.0,234.0,237.0,235.0,240.0,255.00
"Bus journey within city , per drop constant rou",Anambra,61.36,55.42,57.08,69.83,70.56,66.06,64.32,65.58,103.75,...,135.15,137.50,136.0,138.0,140.0,140.0,145.0,148.0,149.0,156.67

In [42]:
def inter_city_bus_journey(df, value):
    """Function to drop last two columns of dataframe and obtain average prices for inter-city bus journey from a state.
        
        Args:
            df (Dataframe): Dataframe belonging to a state
            
        
        Returns:
            Dataframe: Dataframe containing average prices for all inter-city bus journey ranging from 2016 to 2020
    """
    df = df.copy()
    # select second row
    df1 = df.iloc[[1]]
    # exclude last two columns
    df1 = df1.iloc[:,:-2]
    # Insert new column with an input value
    df1.insert(0,"State", value)
    return df1

In [43]:
# select a state to test the dataframe returned for the inter-city bus journey for that state

abia_inter_city_bus_journey_df = inter_city_bus_journey(abia_df, 'Abia')

abia_inter_city_bus_journey_df

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
ItemLabels,,,,,,,,,,,,,,,,,,,,,
"Bus journey intercity, state route, charg. per per",Abia,580.56,408.73,416.96,535.42,463.1,503.33,560.33,428.57,450.65,...,1350.0,1348.0,1350.0,1340.0,1350.0,1353.0,1400.0,1400.0,1395.0,1437.5

In [44]:
# obtain average prices for inter-city bus journey of each state

abuja_inter_city_bus_journey_df = inter_city_bus_journey(abuja_df, 'Abuja')
adamawa_inter_city_bus_journey_df = inter_city_bus_journey(adamawa_df, 'Adamawa')
akwaibom_inter_city_bus_journey_df = inter_city_bus_journey(akwaibom_df, 'AkwaIbom')
anambra_inter_city_bus_journey_df = inter_city_bus_journey(anambra_df, 'Anambra')
bauchi_inter_city_bus_journey_df = inter_city_bus_journey(bauchi_df, 'Bauchi')
bayelsa_inter_city_bus_journey_df = inter_city_bus_journey(bayelsa_df, 'Bayelsa')
benue_inter_city_bus_journey_df = inter_city_bus_journey(benue_df, 'Benue')
borno_inter_city_bus_journey_df = inter_city_bus_journey(borno_df, 'Borno')
crossriver_inter_city_bus_journey_df = inter_city_bus_journey(crossriver_df, 'CrossRiver')
delta_inter_city_bus_journey_df = inter_city_bus_journey(delta_df, 'Delta')
ebonyi_inter_city_bus_journey_df = inter_city_bus_journey(ebonyi_df, 'Ebonyi')
edo_inter_city_bus_journey_df = inter_city_bus_journey(edo_df, 'Edo')
ekiti_inter_city_bus_journey_df = inter_city_bus_journey(ekiti_df, 'Ekiti')
enugu_inter_city_bus_journey_df = inter_city_bus_journey(enugu_df, 'Enugu')
gombe_inter_city_bus_journey_df = inter_city_bus_journey(gombe_df, 'Gombe')
imo_inter_city_bus_journey_df = inter_city_bus_journey(imo_df, 'Imo')
jigawa_inter_city_bus_journey_df = inter_city_bus_journey(jigawa_df, 'Jigawa')
kaduna_inter_city_bus_journey_df = inter_city_bus_journey(kaduna_df, 'Kaduna')
kano_inter_city_bus_journey_df = inter_city_bus_journey(kano_df, 'Kano')
katsina_inter_city_bus_journey_df = inter_city_bus_journey(katsina_df, 'Katsina')
kebbi_inter_city_bus_journey_df = inter_city_bus_journey(kebbi_df, 'Kebbi')
kogi_inter_city_bus_journey_df = inter_city_bus_journey(kogi_df, 'Kogi')
kwara_inter_city_bus_journey_df = inter_city_bus_journey(kwara_df, 'Kwara')
lagos_inter_city_bus_journey_df = inter_city_bus_journey(lagos_df, 'Lagos')
nassarawa_inter_city_bus_journey_df = inter_city_bus_journey(nassarawa_df, 'Nassarawa')
niger_inter_city_bus_journey_df = inter_city_bus_journey(niger_df, 'Niger')
ogun_inter_city_bus_journey_df = inter_city_bus_journey(ogun_df, 'Ogun')
ondo_inter_city_bus_journey_df = inter_city_bus_journey(ondo_df, 'Ondo')
osun_inter_city_bus_journey_df = inter_city_bus_journey(osun_df, 'Osun')
oyo_inter_city_bus_journey_df = inter_city_bus_journey(oyo_df, 'Oyo')
plateau_inter_city_bus_journey_df = inter_city_bus_journey(plateau_df, 'Plateau')
rivers_inter_city_bus_journey_df = inter_city_bus_journey(rivers_df, 'Rivers')
sokoto_inter_city_bus_journey_df = inter_city_bus_journey(sokoto_df, 'Sokoto')
taraba_inter_city_bus_journey_df = inter_city_bus_journey(taraba_df, 'Taraba')
yobe_inter_city_bus_journey_df = inter_city_bus_journey(yobe_df, 'Yobe')
zamfara_inter_city_bus_journey_df = inter_city_bus_journey(zamfara_df, 'Zamfara')

In [45]:
# Concatenate all states with average prices for inter-city bus journey from 2016 to 2020

states_list = [abia_inter_city_bus_journey_df, abuja_inter_city_bus_journey_df,
              adamawa_inter_city_bus_journey_df, akwaibom_inter_city_bus_journey_df,
              anambra_inter_city_bus_journey_df, bauchi_inter_city_bus_journey_df,
              bayelsa_inter_city_bus_journey_df, benue_inter_city_bus_journey_df,
              borno_inter_city_bus_journey_df, crossriver_inter_city_bus_journey_df,
              delta_inter_city_bus_journey_df, ebonyi_inter_city_bus_journey_df,
              edo_inter_city_bus_journey_df, ekiti_inter_city_bus_journey_df,
              enugu_inter_city_bus_journey_df, gombe_inter_city_bus_journey_df,
              imo_inter_city_bus_journey_df, jigawa_inter_city_bus_journey_df,
              kaduna_inter_city_bus_journey_df, kano_inter_city_bus_journey_df,
              katsina_inter_city_bus_journey_df, kebbi_inter_city_bus_journey_df,
              kogi_inter_city_bus_journey_df, kwara_inter_city_bus_journey_df,
              lagos_inter_city_bus_journey_df, nassarawa_inter_city_bus_journey_df,
              niger_inter_city_bus_journey_df, ogun_inter_city_bus_journey_df,
              ondo_inter_city_bus_journey_df, osun_inter_city_bus_journey_df,
              oyo_inter_city_bus_journey_df, plateau_inter_city_bus_journey_df,
              rivers_inter_city_bus_journey_df, sokoto_inter_city_bus_journey_df,
              taraba_inter_city_bus_journey_df, yobe_inter_city_bus_journey_df,
              zamfara_inter_city_bus_journey_df]  # List of dataframes

states_inter_city_bus_journey_df = pd.concat(states_list)
states_inter_city_bus_journey_df.head(5)

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
ItemLabels,,,,,,,,,,,,,,,,,,,,,
"Bus journey intercity, state route, charg. per per",Abia,580.56,408.73,416.96,535.42,463.10,503.33,560.33,428.57,450.65,...,1350.0,1348.0,1350.0,1340.0,1350.0,1353.0,1400.0,1400.0,1395.0,1437.50
"Bus journey intercity, state route, charg. per per",Abuja,1600.00,1600.00,2500.00,2500.00,2500.00,5000.00,5000.00,4600.00,4675.00,...,4155.0,4150.0,4155.0,4168.0,4170.0,4176.0,4200.0,4230.0,4235.0,4120.00
"Bus journey intercity, state route, charg. per per",Adamawa,1700.00,1703.57,2058.33,2058.33,1500.00,1500.00,1500.00,1450.00,1450.00,...,2500.0,2550.0,2530.0,2537.0,2540.0,2543.0,2546.0,2547.0,2545.0,2500.00
"Bus journey intercity, state route, charg. per per",AkwaIbom,666.67,625.00,666.67,633.33,800.00,725.00,830.00,775.00,1133.33,...,1310.0,1315.0,1345.0,1340.0,1345.0,1347.0,1350.0,1355.0,1350.0,1343.75
"Bus journey intercity, state route, charg. per per",Anambra,566.67,510.42,520.00,659.09,560.42,589.58,550.00,630.00,900.00,...,1439.0,1440.0,1443.0,1450.0,1454.0,1455.0,1458.0,1460.0,1464.0,1460.00

In [46]:
def airfare(df, value):
    """Function to drop last two columns of dataframe and obtain average airfare prices for specified routes in states with domestic airports.
        
        Args:
            df (Dataframe): Dataframe belonging to a state
            
        
        Returns:
            Dataframe: Dataframe containing average airfare prices for specified routes from 2016 to 2020
    """
    df = df.copy()
    # select third row
    df1 = df.iloc[[2]]
    # exclude last two columns
    df1 = df1.iloc[:,:-2]
    # Insert new column with an input value
    df1.insert(0,"State", value)
    return df1

In [47]:
# select a state to test the dataframe returned for airfare for specified routes for that state

abuja_airfare_df = airfare(abuja_df, 'Abuja')
abuja_airfare_df

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
ItemLabels,,,,,,,,,,,,,,,,,,,,,
Air fare charg.for specified routes single journey,Abuja,28000.0,28058.8,28117.72,24000.0,24000.0,24000.0,25000.0,24000.0,24000.0,...,33550.0,33400.0,33500.0,33450.0,33450.0,33450.0,33455.0,33460.0,33500.0,34000.0

In [48]:
# obtain average airfare prices for specified routes for each state

adamawa_airfare_df  = airfare(adamawa_df, 'Adamawa')
akwaibom_airfare_df  = airfare(akwaibom_df, 'Adamawa')
bauchi_airfare_df = airfare(bauchi_df, 'Bauchi')
benue_airfare_df = airfare(benue_df, 'Benue')
crossriver_airfare_df = airfare(crossriver_df, 'CrossRiver')
delta_airfare_df = airfare(delta_df, 'Delta')
edo_airfare_df = airfare(edo_df, 'Edo')
gombe_airfare_df = airfare(gombe_df, 'Gombe')
imo_airfare_df = airfare(imo_df, 'Imo')
kaduna_airfare_df = airfare(kaduna_df, 'Kaduna')
katsina_airfare_df = airfare(katsina_df, 'Katsina')
kogi_airfare_df = airfare(kogi_df, 'Kogi')
kwara_airfare_df = airfare(kwara_df, 'Kwara')
lagos_airfare_df = airfare(lagos_df, 'Lagos')
niger_airfare_df = airfare(niger_df, 'Niger')
ondo_airfare_df  = airfare(ondo_df, 'Ondo')
oyo_airfare_df = airfare(oyo_df, 'Oyo')
plateau_airfare_df = airfare(plateau_df, 'Plateau')
taraba_airfare_df = airfare(taraba_df, 'Taraba')
yobe_airfare_df = airfare(yobe_df, 'Yobe')
zamfara_airfare_df = airfare  (zamfara_df, 'Zamfara')

In [49]:
# Concatenate all states with average airfare prices for specified routes from 2016 to 2020

states_list = [abuja_airfare_df, akwaibom_airfare_df,
               bauchi_airfare_df, benue_airfare_df, 
               crossriver_airfare_df, delta_airfare_df,
               edo_airfare_df, gombe_airfare_df,
               imo_airfare_df, kaduna_airfare_df,
               katsina_airfare_df, kogi_airfare_df,
               kwara_airfare_df, lagos_airfare_df,
               niger_airfare_df, ondo_airfare_df,
               oyo_airfare_df, plateau_airfare_df,
               taraba_airfare_df, yobe_airfare_df,
               zamfara_airfare_df]  # List of dataframes

states_airfare_df = pd.concat(states_list)
states_airfare_df.head(5)

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
ItemLabels,,,,,,,,,,,,,,,,,,,,,
Air fare charg.for specified routes single journey,Abuja,28000.00,28058.80,28117.72,24000.00,24000.00,24000.00,25000.00,24000.00,24000.00,...,33550.0,33400.0,33500.0,33450.0,33450.0,33450.0,33455.0,33460.0,33500.0,34000.0
Air fare charg.for specified routes single journey,Adamawa,25000.32,25052.82,25105.43,25158.15,25210.99,25263.93,35000.00,27000.00,27000.00,...,27500.0,27550.0,27580.0,27550.0,27580.0,27600.0,27650.0,27700.0,27750.0,27500.0
Air fare charg.for specified routes single journey,Bauchi,26500.12,26555.77,26611.54,25000.00,25250.00,25303.03,24000.00,24050.40,24100.91,...,32150.0,32200.0,32250.0,32300.0,32325.0,32330.0,32400.0,32500.0,32540.0,34000.0
Air fare charg.for specified routes single journey,Benue,20000.00,20042.00,20084.09,20126.26,20168.53,20210.88,20253.33,20295.86,20338.48,...,33200.0,32300.0,32200.0,32240.0,32250.0,32260.0,32300.0,32360.0,32300.0,32300.0
Air fare charg.for specified routes single journey,CrossRiver,22000.00,26000.00,30000.00,26000.00,24000.00,22500.00,23250.00,25833.33,24750.00,...,31400.0,31600.0,31640.0,31650.0,31668.0,31670.0,31700.0,31700.0,31750.0,30650.0

In [50]:
def motorcycle_journey(df, value):
    """Function to drop last two columns of dataframe and obtain average prices for motor-cycle journey within a state.
        
        Args:
            df (Dataframe): Dataframe belonging to a state
            
        
        Returns:
            Dataframe: Dataframe containing average prices for all motor-cycle journey ranging from 2016 to 2020
    """
    df = df.copy()
    # select fourth row
    df1 = df.iloc[[3]]
    # exclude last two columns
    df1 = df1.iloc[:,:-2]
    # Insert new column with an input value
    df1.insert(0,"State", value)
    return df1

In [51]:
# select a state to test the dataframe returned for the intra-city bus journey for that state

abia_motorcycle_journey_df = motorcycle_journey(abia_df, 'Abia')

abia_motorcycle_journey_df

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
ItemLabels,,,,,,,,,,,,,,,,,,,,,
Journey by motorcycle (okada) per drop,Abia,132.78,103.89,105.0,124.33,128.94,102.92,107.5,108.13,116.43,...,135.0,135.0,138.0,136.0,136.0,137.0,138.0,140.0,142.0,138.18

In [52]:
# obtain average prices for motorcycle journey of each state

abuja_motorcycle_journey_df = motorcycle_journey(abuja_df, 'Abuja')
adamawa_motorcycle_journey_df = motorcycle_journey(adamawa_df, 'Adamawa')
akwaibom_motorcycle_journey_df = motorcycle_journey(akwaibom_df, 'AkwaIbom')
anambra_motorcycle_journey_df = motorcycle_journey(anambra_df, 'Anambra')
bauchi_motorcycle_journey_df = motorcycle_journey(bauchi_df, 'Bauchi')
bayelsa_motorcycle_journey_df = motorcycle_journey(bayelsa_df, 'Bayelsa')
benue_motorcycle_journey_df = motorcycle_journey(benue_df, 'Benue')
borno_motorcycle_journey_df = motorcycle_journey(borno_df, 'Borno')
crossriver_motorcycle_journey_df = motorcycle_journey(crossriver_df, 'CrossRiver')
delta_motorcycle_journey_df = motorcycle_journey(delta_df, 'Delta')
ebonyi_motorcycle_journey_df = motorcycle_journey(ebonyi_df, 'Ebonyi')
edo_motorcycle_journey_df = motorcycle_journey(edo_df, 'Edo')
ekiti_motorcycle_journey_df = motorcycle_journey(ekiti_df, 'Ekiti')
enugu_motorcycle_journey_df = motorcycle_journey(enugu_df, 'Enugu')
gombe_motorcycle_journey_df = motorcycle_journey(gombe_df, 'Gombe')
imo_motorcycle_journey_df = motorcycle_journey(imo_df, 'Imo')
jigawa_motorcycle_journey_df = motorcycle_journey(jigawa_df, 'Jigawa')
kaduna_motorcycle_journey_df = motorcycle_journey(kaduna_df, 'Kaduna')
kano_motorcycle_journey_df = motorcycle_journey(kano_df, 'Kano')
katsina_motorcycle_journey_df = motorcycle_journey(katsina_df, 'Katsina')
kebbi_motorcycle_journey_df = motorcycle_journey(kebbi_df, 'Kebbi')
kogi_motorcycle_journey_df = motorcycle_journey(kogi_df, 'Kogi')
kwara_motorcycle_journey_df = motorcycle_journey(kwara_df, 'Kwara')
lagos_motorcycle_journey_df = motorcycle_journey(lagos_df, 'Lagos')
nassarawa_motorcycle_journey_df = motorcycle_journey(nassarawa_df, 'Nassarawa')
niger_motorcycle_journey_df = motorcycle_journey(niger_df, 'Niger')
ogun_motorcycle_journey_df = motorcycle_journey(ogun_df, 'Ogun')
ondo_motorcycle_journey_df = motorcycle_journey(ondo_df, 'Ondo')
osun_motorcycle_journey_df = motorcycle_journey(osun_df, 'Osun')
oyo_motorcycle_journey_df = motorcycle_journey(oyo_df, 'Oyo')
plateau_motorcycle_journey_df = motorcycle_journey(plateau_df, 'Plateau')
rivers_motorcycle_journey_df = motorcycle_journey(rivers_df, 'Rivers')
sokoto_motorcycle_journey_df = motorcycle_journey(sokoto_df, 'Sokoto')
taraba_motorcycle_journey_df = motorcycle_journey(taraba_df, 'Taraba')
yobe_motorcycle_journey_df = motorcycle_journey(yobe_df, 'Yobe')
zamfara_motorcycle_journey_df = motorcycle_journey(zamfara_df, 'Zamfara')

In [53]:
# Concatenate all states with average prices for motorcycle journey from 2016 to 2020

states_list = [abia_motorcycle_journey_df, abuja_motorcycle_journey_df,
              adamawa_motorcycle_journey_df, akwaibom_motorcycle_journey_df,
              anambra_motorcycle_journey_df, bauchi_motorcycle_journey_df,
              bayelsa_motorcycle_journey_df, benue_motorcycle_journey_df,
              borno_motorcycle_journey_df, crossriver_motorcycle_journey_df,
              delta_motorcycle_journey_df, ebonyi_motorcycle_journey_df,
              edo_motorcycle_journey_df, ekiti_motorcycle_journey_df,
              enugu_motorcycle_journey_df, gombe_motorcycle_journey_df,
              imo_motorcycle_journey_df, jigawa_motorcycle_journey_df,
              kaduna_motorcycle_journey_df, kano_motorcycle_journey_df,
              katsina_motorcycle_journey_df, kebbi_motorcycle_journey_df,
              kogi_motorcycle_journey_df, kwara_motorcycle_journey_df,
              lagos_motorcycle_journey_df, nassarawa_motorcycle_journey_df,
              niger_motorcycle_journey_df, ogun_motorcycle_journey_df,
              ondo_motorcycle_journey_df, osun_motorcycle_journey_df,
              oyo_motorcycle_journey_df, plateau_motorcycle_journey_df,
              rivers_motorcycle_journey_df, sokoto_motorcycle_journey_df,
              taraba_motorcycle_journey_df, yobe_motorcycle_journey_df,
              zamfara_motorcycle_journey_df]  # List of dataframes

states_motorcycle_journey_df = pd.concat(states_list)
states_motorcycle_journey_df.head(5)

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
ItemLabels,,,,,,,,,,,,,,,,,,,,,
Journey by motorcycle (okada) per drop,Abia,132.78,103.89,105.00,124.33,128.94,102.92,107.50,108.13,116.43,...,135.0,135.0,138.0,136.0,136.0,137.0,138.0,140.0,142.0,138.18
Journey by motorcycle (okada) per drop,Abuja,55.00,55.00,55.00,60.00,57.50,62.50,62.50,57.50,72.50,...,95.0,100.0,98.0,99.0,100.0,102.0,100.0,100.0,105.0,114.00
Journey by motorcycle (okada) per drop,Adamawa,60.00,60.13,70.00,70.15,70.29,70.44,70.59,70.74,70.89,...,52.0,55.0,60.0,58.0,59.0,60.0,62.0,63.0,63.0,50.00
Journey by motorcycle (okada) per drop,AkwaIbom,145.00,150.00,153.33,195.83,155.00,161.67,160.33,153.33,160.00,...,91.0,95.0,100.0,100.0,98.0,99.0,100.0,100.0,104.0,96.18
Journey by motorcycle (okada) per drop,Anambra,69.58,67.08,70.00,102.33,78.06,79.17,77.92,99.17,80.00,...,96.0,95.0,95.0,97.0,98.0,100.0,105.0,100.0,103.0,102.86

In [54]:
def water_journey(df, value):
    """Function to drop last two columns of dataframe and obtain average prices for water journey within a state.
        
        Args:
            df (Dataframe): Dataframe belonging to a state
            
        
        Returns:
            Dataframe: Dataframe containing average prices for all water journey ranging from 2016 to 2020
    """
    df = df.copy()
    # select fifth row
    df1 = df.iloc[[4]]
    # exclude last two columns
    df1 = df1.iloc[:,:-2]
    # Insert new column with an input value
    df1.insert(0,"State", value)
    return df1

In [55]:
# select a state to test the dataframe returned for the water journey for that state

abia_water_journey_df = water_journey(abia_df, 'Abia')

abia_water_journey_df

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
ItemLabels,,,,,,,,,,,,,,,,,,,,,
Water transport : water way passenger transportat,Abia,350.23,352.05,353.88,355.72,357.57,359.43,361.3,363.18,365.07,...,255.0,280.0,270.0,275.0,275.0,278.0,280.0,280.0,284.0,280.0

In [56]:
# obtain average prices for water journey of each state

abuja_water_journey_df = water_journey(abuja_df, 'Abuja')
adamawa_water_journey_df = water_journey(adamawa_df, 'Adamawa')
akwaibom_water_journey_df = water_journey(akwaibom_df, 'AkwaIbom')
anambra_water_journey_df = water_journey(anambra_df, 'Anambra')
bauchi_water_journey_df = water_journey(bauchi_df, 'Bauchi')
bayelsa_water_journey_df = water_journey(bayelsa_df, 'Bayelsa')
benue_water_journey_df = water_journey(benue_df, 'Benue')
borno_water_journey_df = water_journey(borno_df, 'Borno')
crossriver_water_journey_df = water_journey(crossriver_df, 'CrossRiver')
delta_water_journey_df = water_journey(delta_df, 'Delta')
ebonyi_water_journey_df = water_journey(ebonyi_df, 'Ebonyi')
edo_water_journey_df = water_journey(edo_df, 'Edo')
ekiti_water_journey_df = water_journey(ekiti_df, 'Ekiti')
enugu_water_journey_df = water_journey(enugu_df, 'Enugu')
gombe_water_journey_df = water_journey(gombe_df, 'Gombe')
imo_water_journey_df = water_journey(imo_df, 'Imo')
jigawa_water_journey_df = water_journey(jigawa_df, 'Jigawa')
kaduna_water_journey_df = water_journey(kaduna_df, 'Kaduna')
kano_water_journey_df = water_journey(kano_df, 'Kano')
katsina_water_journey_df = water_journey(katsina_df, 'Katsina')
kebbi_water_journey_df = water_journey(kebbi_df, 'Kebbi')
kogi_water_journey_df = water_journey(kogi_df, 'Kogi')
kwara_water_journey_df = water_journey(kwara_df, 'Kwara')
lagos_water_journey_df = water_journey(lagos_df, 'Lagos')
nassarawa_water_journey_df = water_journey(nassarawa_df, 'Nassarawa')
niger_water_journey_df = water_journey(niger_df, 'Niger')
ogun_water_journey_df = water_journey(ogun_df, 'Ogun')
ondo_water_journey_df = water_journey(ondo_df, 'Ondo')
osun_water_journey_df = water_journey(osun_df, 'Osun')
oyo_water_journey_df = water_journey(oyo_df, 'Oyo')
plateau_water_journey_df = water_journey(plateau_df, 'Plateau')
rivers_water_journey_df = water_journey(rivers_df, 'Rivers')
sokoto_water_journey_df = water_journey(sokoto_df, 'Sokoto')
taraba_water_journey_df = water_journey(taraba_df, 'Taraba')
yobe_water_journey_df = water_journey(yobe_df, 'Yobe')
zamfara_water_journey_df = water_journey(zamfara_df, 'Zamfara')

In [57]:
# Concatenate all states with average prices for water journey from 2016 to 2020

states_list = [abia_water_journey_df, abuja_water_journey_df,
              adamawa_water_journey_df, akwaibom_water_journey_df,
              anambra_water_journey_df, bauchi_water_journey_df,
              bayelsa_water_journey_df, benue_water_journey_df,
              borno_water_journey_df, crossriver_water_journey_df,
              delta_water_journey_df, ebonyi_water_journey_df,
              edo_water_journey_df, ekiti_water_journey_df,
              enugu_water_journey_df, gombe_water_journey_df,
              imo_water_journey_df, jigawa_water_journey_df,
              kaduna_water_journey_df, kano_water_journey_df,
              katsina_water_journey_df, kebbi_water_journey_df,
              kogi_water_journey_df, kwara_water_journey_df,
              lagos_water_journey_df, nassarawa_water_journey_df,
              niger_water_journey_df, ogun_water_journey_df,
              ondo_water_journey_df, osun_water_journey_df,
              oyo_water_journey_df, plateau_water_journey_df,
              rivers_water_journey_df, sokoto_water_journey_df,
              taraba_water_journey_df, yobe_water_journey_df,
              zamfara_water_journey_df]  # List of dataframes

states_water_journey_df = pd.concat(states_list)
states_water_journey_df.head(5)

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
ItemLabels,,,,,,,,,,,,,,,,,,,,,
Water transport : water way passenger transportat,Abia,350.23,352.05,353.88,355.72,357.57,359.43,361.30,363.18,365.07,...,255.0,280.0,270.0,275.0,275.0,278.0,280.0,280.0,284.0,280.00
Water transport : water way passenger transportat,Abuja,160.43,160.77,161.10,161.44,161.78,162.12,162.46,162.80,150.00,...,219.0,220.0,220.0,223.0,225.0,228.0,229.0,230.0,240.0,240.00
Water transport : water way passenger transportat,Adamawa,350.66,351.40,325.00,325.68,326.37,327.05,327.74,328.43,329.12,...,450.0,480.0,450.0,465.0,470.0,475.0,479.0,480.0,482.0,480.00
Water transport : water way passenger transportat,AkwaIbom,850.00,1100.00,1200.00,1400.00,1500.00,850.00,1000.00,1200.00,1202.52,...,850.0,840.0,820.0,830.0,825.0,826.0,830.0,820.0,815.0,833.33
Water transport : water way passenger transportat,Anambra,400.21,401.05,401.89,402.74,403.58,404.43,405.28,406.13,406.98,...,400.0,385.0,387.0,385.0,388.0,389.0,394.0,395.0,398.0,395.50

In [58]:
def check_missing_values(df):
    """Function to count missing values
        
        Args:
            df (Dataframe): Dataframe of all states
            
        
        Returns:
            Dataframe: Dataframe containing number of missing values
    """
    df = df.isnull().sum(axis=0)
    return df

In [59]:
check_missing_values(states_intra_city_bus_journey_df )

State     0
Jan-16    0
Feb-16    0
Mar-16    0
Apr-16    0
May-16    0
Jun-16    0
Jul-16    0
Aug-16    0
Sep-16    0
Oct-16    0
Nov-16    0
Dec-16    0
Jan-17    0
Feb-17    0
Mar-17    0
Apr-17    0
May-17    0
Jun-17    0
Jul-17    0
Aug-17    0
Sep-17    0
Oct-17    0
Nov-17    0
Dec-17    0
Jan-18    0
Feb-18    0
Mar-18    0
Apr-18    0
May-18    0
Jun-18    0
Jul-18    0
Aug-18    0
Sep-18    0
Oct-18    0
Nov-18    0
Dec-18    0
Jan-19    0
Feb-19    0
Mar-19    0
Apr-19    0
May-19    0
Jun-19    0
Jul-19    0
Aug-19    0
Sep-19    0
Oct-19    0
Nov-19    0
Dec-19    0
Jan-20    0
Feb-20    0
Mar-20    0
dtype: int64

In [60]:
check_missing_values(states_inter_city_bus_journey_df)

State     0
Jan-16    0
Feb-16    0
Mar-16    0
Apr-16    0
May-16    0
Jun-16    0
Jul-16    0
Aug-16    0
Sep-16    0
Oct-16    0
Nov-16    0
Dec-16    0
Jan-17    0
Feb-17    0
Mar-17    0
Apr-17    0
May-17    0
Jun-17    0
Jul-17    0
Aug-17    0
Sep-17    0
Oct-17    0
Nov-17    0
Dec-17    0
Jan-18    0
Feb-18    0
Mar-18    0
Apr-18    0
May-18    0
Jun-18    0
Jul-18    0
Aug-18    0
Sep-18    0
Oct-18    0
Nov-18    0
Dec-18    0
Jan-19    0
Feb-19    0
Mar-19    0
Apr-19    0
May-19    0
Jun-19    0
Jul-19    0
Aug-19    0
Sep-19    0
Oct-19    0
Nov-19    0
Dec-19    0
Jan-20    0
Feb-20    0
Mar-20    0
dtype: int64

In [61]:
check_missing_values(states_airfare_df)

State     0
Jan-16    0
Feb-16    0
Mar-16    0
Apr-16    0
May-16    0
Jun-16    0
Jul-16    0
Aug-16    0
Sep-16    0
Oct-16    0
Nov-16    0
Dec-16    0
Jan-17    0
Feb-17    0
Mar-17    0
Apr-17    0
May-17    0
Jun-17    0
Jul-17    0
Aug-17    0
Sep-17    0
Oct-17    0
Nov-17    0
Dec-17    0
Jan-18    0
Feb-18    0
Mar-18    0
Apr-18    0
May-18    0
Jun-18    0
Jul-18    0
Aug-18    0
Sep-18    0
Oct-18    0
Nov-18    0
Dec-18    0
Jan-19    0
Feb-19    0
Mar-19    0
Apr-19    0
May-19    0
Jun-19    0
Jul-19    0
Aug-19    0
Sep-19    0
Oct-19    0
Nov-19    0
Dec-19    0
Jan-20    0
Feb-20    0
Mar-20    0
dtype: int64

In [62]:
check_missing_values(states_motorcycle_journey_df)

State     0
Jan-16    0
Feb-16    0
Mar-16    0
Apr-16    0
May-16    0
Jun-16    0
Jul-16    0
Aug-16    0
Sep-16    0
Oct-16    0
Nov-16    0
Dec-16    0
Jan-17    0
Feb-17    0
Mar-17    0
Apr-17    0
May-17    0
Jun-17    0
Jul-17    0
Aug-17    0
Sep-17    0
Oct-17    0
Nov-17    0
Dec-17    0
Jan-18    0
Feb-18    0
Mar-18    0
Apr-18    0
May-18    0
Jun-18    0
Jul-18    0
Aug-18    0
Sep-18    0
Oct-18    0
Nov-18    0
Dec-18    0
Jan-19    0
Feb-19    0
Mar-19    0
Apr-19    0
May-19    0
Jun-19    0
Jul-19    0
Aug-19    0
Sep-19    0
Oct-19    0
Nov-19    0
Dec-19    0
Jan-20    0
Feb-20    0
Mar-20    0
dtype: int64

In [63]:
check_missing_values(states_water_journey_df)

State     0
Jan-16    0
Feb-16    0
Mar-16    0
Apr-16    0
May-16    0
Jun-16    0
Jul-16    0
Aug-16    0
Sep-16    0
Oct-16    0
Nov-16    0
Dec-16    0
Jan-17    0
Feb-17    0
Mar-17    0
Apr-17    0
May-17    0
Jun-17    0
Jul-17    0
Aug-17    0
Sep-17    0
Oct-17    0
Nov-17    0
Dec-17    0
Jan-18    0
Feb-18    0
Mar-18    0
Apr-18    0
May-18    0
Jun-18    0
Jul-18    0
Aug-18    0
Sep-18    0
Oct-18    0
Nov-18    0
Dec-18    0
Jan-19    0
Feb-19    0
Mar-19    0
Apr-19    0
May-19    0
Jun-19    0
Jul-19    0
Aug-19    0
Sep-19    0
Oct-19    0
Nov-19    0
Dec-19    0
Jan-20    0
Feb-20    0
Mar-20    0
dtype: int64

In [64]:
def calculate_percentage(df):
    """Function to calculate the percentage of the transport fare for all states per year
        
        Args:
            df (Dataframe): Dataframe of all states
            
        
        Returns:
            Dataframe: A dataframe with yearly returns of the percentage transport fare for all states from 2016 to 2020
    """
    # select a range of columns 
    df_2016 = df.loc[: , "Jan-16":"Dec-16"]
    df_2017 = df.loc[: , "Jan-17":"Dec-17"]
    df_2018 = df.loc[: , "Jan-18":"Dec-18"]
    df_2019 = df.loc[: , "Jan-19":"Dec-19"]
    df_2020 = df.loc[: , "Jan-20":"Mar-20"]
    
    # use this range of columns selected to obtain the mean
    df['tfare-2016'] = df_2016.mean(axis=1)
    df['tfare-2017'] = df_2017.mean(axis=1)
    df['tfare-2018'] = df_2018.mean(axis=1)
    df['tfare-2019'] = df_2019.mean(axis=1)
    df['tfare-2020'] = df_2020.mean(axis=1)
    
    # calculate the percentage of the average tfare per year f
    df['2016']= df['tfare-2016']/df['tfare-2016'].sum()
    df['2017']= df['tfare-2017']/df['tfare-2017'].sum()
    df['2018']= df['tfare-2018']/df['tfare-2018'].sum()
    df['2019']= df['tfare-2019']/df['tfare-2019'].sum()
    df['2020']= df['tfare-2020']/df['tfare-2020'].sum()

    return df

In [68]:
# calculate the percentage for each route in all states

states_intra_city_bus_journey_df = calculate_percentage(states_intra_city_bus_journey_df)
states_inter_city_bus_journey_df = calculate_percentage(states_inter_city_bus_journey_df)
states_airfare_df = calculate_percentage(states_airfare_df)
states_motorcycle_journey_df = calculate_percentage(states_motorcycle_journey_df)
states_water_journey_df = calculate_percentage(states_water_journey_df)

,State,Jan-16,Feb-16,Mar-16,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,...,tfare-2016,tfare-2017,tfare-2018,tfare-2019,tfare-2020,2016,2017,2018,2019,2020
ItemLabels,,,,,,,,,,,,,,,,,,,,,
"Bus journey within city , per drop constant rou",Abia,80.71,87.77,73.81,96.67,84.71,73.82,73.82,121.61,114.29,...,97.972500,125.904,220.050833,139.281667,149.533333,0.027303,0.025514,0.033550,0.020308,0.019839
"Bus journey within city , per drop constant rou",Abuja,50.00,50.11,75.00,87.50,75.00,75.00,75.00,83.33,125.00,...,119.306667,276.954,360.452500,287.495000,317.500000,0.033248,0.056123,0.054956,0.041918,0.042124
"Bus journey within city , per drop constant rou",Adamawa,80.00,80.17,67.50,67.50,100.00,70.00,70.00,70.15,90.00,...,94.798333,177.133,204.191667,247.360833,239.000000,0.026418,0.035895,0.031132,0.036066,0.031709
"Bus journey within city , per drop constant rou",AkwaIbom,100.00,100.00,150.00,150.00,100.00,100.00,100.00,150.00,100.00,...,123.459167,152.307,209.505000,224.958333,243.333333,0.034405,0.030864,0.031942,0.032800,0.032284
"Bus journey within city , per drop constant rou",Anambra,61.36,55.42,57.08,69.83,70.56,66.06,64.32,65.58,103.75,...,76.451667,90.991,101.160833,136.511667,151.223333,0.021305,0.018439,0.015423,0.019904,0.020064
"Bus journey within city , per drop constant rou",Bauchi,50.00,60.00,75.00,70.00,92.50,85.00,70.00,70.11,70.21,...,73.151667,88.300,93.688333,99.528333,104.000000,0.020386,0.017893,0.014284,0.014512,0.013798
"Bus journey within city , per drop constant rou",Bayelsa,127.50,133.33,131.67,133.77,131.90,131.67,135.67,137.67,135.25,...,135.598333,148.261,167.500000,192.274167,225.000000,0.037788,0.030044,0.025538,0.028034,0.029852
"Bus journey within city , per drop constant rou",Benue,50.00,50.00,50.00,71.25,66.67,66.67,66.67,66.67,66.67,...,76.266667,138.053,204.533333,165.899167,180.443333,0.021254,0.027976,0.031184,0.024189,0.023940
"Bus journey within city , per drop constant rou",Borno,40.00,47.50,40.00,46.67,49.00,43.75,47.50,50.00,62.50,...,53.217500,68.384,128.425833,155.360833,164.666667,0.014831,0.013858,0.019580,0.022652,0.021847
"Bus journey within city , per drop constant rou",CrossRiver,108.33,157.50,183.75,150.00,186.90,190.00,195.00,200.00,203.75,...,188.127500,220.774,297.641667,301.585000,304.786667,0.052427,0.044739,0.045380,0.043973,0.040437
"Bus journey within city , per drop constant rou",Delta,101.25,86.43,70.00,96.67,96.67,96.67,149.00,149.00,149.31,...,127.264167,127.810,141.923333,152.761667,172.333333,0.035466,0.025900,0.021638,0.022273,0.022864
"Bus journey within city , per drop constant rou",Ebonyi,102.50,102.50,102.25,102.05,103.50,105.66,105.86,105.76,105.79,...,108.068333,179.984,211.895833,183.666667,191.333333,0.030116,0.036473,0.032307,0.026779,0.025385
"Bus journey within city , per drop constant rou",Edo,110.00,100.00,115.50,117.50,100.00,100.00,100.00,120.00,120.00,...,112.750000,163.077,202.773333,171.200000,181.363333,0.031421,0.033047,0.030916,0.024962,0.024062
"Bus journey within city , per drop constant rou",Ekiti,75.00,102.50,105.69,104.25,105.71,100.93,100.00,104.75,105.05,...,104.815000,180.170,217.482500,212.245833,240.476667,0.029210,0.036510,0.033158,0.030946,0.031905
"Bus journey within city , per drop constant rou",Enugu,65.00,69.67,61.62,81.29,63.21,70.43,70.43,70.43,99.26,...,79.377500,88.094,136.984167,147.545000,171.640000,0.022121,0.017852,0.020885,0.021513,0.022772
"Bus journey within city , per drop constant rou",Gombe,55.00,57.55,51.67,51.77,56.83,55.91,62.52,61.50,68.77,...,64.224167,102.534,147.749167,148.486667,165.333333,0.017898,0.020778,0.022527,0.021650,0.021936
"Bus journey within city , per drop constant rou",Imo,90.83,79.79,79.79,93.33,87.77,87.77,87.77,91.15,103.02,...,94.743333,124.762,150.394167,146.138333,160.346667,0.026403,0.025282,0.022930,0.021308,0.021274
"Bus journey within city , per drop constant rou",Jigawa,96.67,92.50,95.00,90.00,90.00,90.00,90.00,90.00,129.35,...,115.026667,155.784,148.018333,152.391667,166.666667,0.032055,0.031569,0.022568,0.022219,0.022112
"Bus journey within city , per drop constant rou",Kaduna,80.00,79.75,78.75,101.25,125.00,120.29,120.25,120.25,120.25,...,115.364167,138.502,162.400833,173.914167,191.786667,0.032149,0.028067,0.024760,0.025358,0.025445
"Bus journey within city , per drop constant rou",Kano,74.17,73.33,72.50,77.50,76.67,100.00,100.00,102.00,103.40,...,95.171667,150.506,188.264167,170.460833,192.000000,0.026522,0.030499,0.028704,0.024854,0.025474
"Bus journey within city , per drop constant rou",Katsina,115.00,200.00,100.00,100.00,115.00,100.00,100.00,100.00,94.83,...,133.724167,125.433,186.893333,196.166667,208.950000,0.037266,0.025418,0.028495,0.028602,0.027722
"Bus journey within city , per drop constant rou",Kebbi,50.00,50.00,75.00,50.00,50.00,55.00,50.00,50.00,70.59,...,62.825000,111.030,235.165000,252.912500,273.666667,0.017508,0.022500,0.035854,0.036876,0.036309
"Bus journey within city , per drop constant rou",Kogi,50.00,50.00,50.00,50.00,50.00,50.55,50.00,50.11,50.21,...,54.568333,115.192,166.637500,202.025000,249.333333,0.015207,0.023343,0.025406,0.029456,0.033080
"Bus journey within city , per drop constant rou",Kwara,75.00,100.00,75.00,75.00,100.00,102.00,75.00,75.00,75.00,...,96.109167,145.294,148.299167,151.348333,155.666667,0.026783,0.029443,0.022610,0.022067,0.020653
"Bus journey within city , per drop constant rou",Lagos,124.17,124.31,124.44,128.44,141.92,141.92,141.92,141.92,141.92,...,141.575833,156.274,220.455833,247.017500,275.306667,0.039454,0.031668,0.033612,0.036016,0.036526
"Bus journey within city , per drop constant rou",Nassarawa,100.00,100.00,100.00,100.00,100.00,100.00,100.00,115.00,115.51,...,111.830000,154.843,242.578333,236.572500,266.000000,0.031164,0.031378,0.036985,0.034493,0.035291
"Bus journey within city , per drop constant rou",Niger,68.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,...,99.000000,113.638,140.252500,157.085000,174.333333,0.027589,0.023028,0.021384,0.022904,0.023130
"Bus journey within city , per drop constant rou",Ogun,77.50,85.00,77.50,81.25,120.83,120.83,120.83,120.83,131.23,...,117.279167,129.755,162.753333,160.354167,170.866667,0.032683,0.026294,0.024814,0.023380,0.022670
"Bus journey within city , per drop constant rou",Ondo,73.57,91.96,65.00,69.64,65.83,100.00,100.00,100.00,100.25,...,93.130833,112.796,154.630000,170.247500,185.466667,0.025953,0.022857,0.023576,0.024823,0.024607
"Bus journey within city , per drop constant rou",Osun,81.88,81.46,88.57,80.25,86.94,83.33,87.64,85.36,85.54,...,88.938333,110.296,151.455000,162.016667,176.416667,0.024785,0.022351,0.023092,0.023623,0.023406
"Bus journey within city , per drop constant rou",Oyo,63.75,62.50,69.17,85.58,85.58,85.58,85.58,101.75,101.96,...,94.782500,156.970,167.206667,184.729167,201.186667,0.026414,0.031809,0.025493,0.026934,0.026692
"Bus journey within city , per drop constant rou",Plateau,87.50,77.08,85.00,87.50,92.50,86.25,85.50,90.00,90.19,...,92.792500,98.552,135.453333,183.940000,229.666667,0.025859,0.019971,0.020652,0.026819,0.030471
"Bus journey within city , per drop constant rou",Rivers,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,...,105.515833,110.917,115.770000,142.778333,153.000000,0.029405,0.022477,0.017651,0.020818,0.020299
"Bus journey within city , per drop constant rou",Sokoto,50.25,50.25,60.00,60.00,60.00,60.00,60.00,60.00,75.16,...,64.684167,102.783,134.317500,135.180000,144.333333,0.018026,0.020828,0.020479,0.019710,0.019149
"Bus journey within city , per drop constant rou",Taraba,50.00,50.08,57.50,55.75,60.00,60.00,58.99,59.55,57.18,...,60.292500,103.219,156.835833,202.750000,249.890000,0.016802,0.020917,0.023912,0.029562,0.033154
"Bus journey within city , per drop constant rou",Yobe,50.00,50.89,50.87,50.85,50.25,52.25,55.25,57.75,58.32,...,55.942500,84.304,158.480833,151.746667,166.666667,0.015590,0.017084,0.024163,0.022125,0.022112
"Bus journey within city , per drop constant rou",Zamfara,55.00,55.78,57.83,58.85,55.93,56.78,57.55,58.83,57.89,...,60.232500,105.183,186.678333,312.550000,343.713333,0.016785,0.021315,0.028462,0.045571,0.045602

In [66]:
def read_as_csv(df, file_name):
    """Function to read dataframe into CSV file
        
        Args:
            df (Dataframe): Dataframe of all states
            
        
        Returns:
            file: CSV file
    """
    df = df.to_csv(file_name, index=False)

    return df

In [67]:
# Convert the resulting dataframe into CSV files 

read_as_csv(states_intra_city_bus_journey_df, 'data/states_intra_city_bus_journey.csv')
read_as_csv(states_inter_city_bus_journey_df, 'data/states_inter_city_bus_journey.csv')
read_as_csv(states_airfare_df, 'data/states_airfare.csv')
read_as_csv(states_motorcycle_journey_df, 'data/states_motorcycle_journey.csv')
read_as_csv(states_water_journey_df, 'data/states_water_journey.csv')